body {
    background-color: beige;
    border: 2px solid powderblue;
    padding: 30px;
    margin: 50px;
}

h1 {
    font-family: Verdana;
    color: rgb(63, 197, 92)
}

h2 {
    font-family: Verdana;
}

p {
    font-family: Verdana;
}

pre {
    font-family: Verdana;
    font-size: 120%; 
    text-align: left;
}
